.navbar .navbar-brand img.rounded-circle {
  width: 44px;
  height: 44px;
  object-fit: contain;
}

form.d-flex.flex-shrink-0[role="search"] {
  max-width: 360px;
  width: 100%;
}

footer img.rounded-circle {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

button.btn.position-fixed.bottom-0.end-0.rounded-circle {
  width: 48px;
  height: 48px;
  z-index: 1050;
}
